/* General reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f0f0f0;
    padding: 20px;
    text-align: center;
}

header {
    margin-bottom: 20px;
}

/* Styles specific to the home page */
.user-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
}

.user-card {
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.user-card img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.user-card h2 {
    font-size: 18px;
    margin-top: 10px;
    color: #333;
}

.user-card a {
    text-decoration: none;
    color: inherit;
}

.user-card a:hover {
    color: #3498db;
}

/* Styles specific to the detailed user page */
.user-details {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
}

.user-profile {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.user-profile img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-bottom: 20px;
}

.user-profile h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

.user-profile p {
    font-size: 18px;
    margin: 5px 0;
}
.back-button{
    text-decoration: none;
color:red;
}
